.ant-menu {
    font-size: 1rem;
    position: fixed;
    z-index: 9000;
    width: 100%;
}

.ant-menu .anticon {
    font-size: 1rem;
}

.ant-page-header-heading-left {
    flex-direction: column;
}

.ant-page-header {
    padding: 0.5rem;
}

.ant-menu-item:hover {
    padding-bottom: 0.3rem;
}

.ant-menu-item-selected {
    padding-bottom: 0.3rem;
}

.ant-menu-item-disabled {
    cursor: default;
}

.ant-menu-item-disabled:hover {
    padding-bottom: initial;
}

.ant-menu-item .anticon {
    margin-right: 0.2rem;
}

.ant-menu-item.ant-side-menu {
    position: absolute;
    right: 0;
    top: 2rem;
    display: flex;
    flex-direction: row;
}

.ant-menu-item.ant-side-menu .ant-page-header.ant-page-header-ghost.ant-page-header-compact .anticon {
    font-size: 1.3rem;
}

.ant-menu-item.ant-side-menu .ant-page-header.ant-page-header-ghost.ant-page-header-compact {
    margin-left: 0.5rem;
}

.ant-menu-item.ant-side-menu .ant-page-header.ant-page-header-ghost.ant-page-header-compact:hover {
    color:#1890ff;
    cursor: pointer;
    transform: scale(1.3);
}

.ant-page-header.site-page-header.ant-page-header-ghost.ant-page-header-compact:hover .ant-page-header-heading-left {
    transform: rotateY(360deg)
}

.ant-page-header.site-page-header.ant-page-header-ghost.ant-page-header-compact .ant-page-header-heading-left {
    transform: rotateY(0);
    transition: transform 1s;
}

@media only screen and (max-width: 785px) {

    .ant-menu {
        font-size: 1.3rem;
        top: 0;
        left: 0;
        padding-top: 4rem;
        width: 70%;
        height: 100vh;
    }

    .ant-menu-inline-collapsed {
        width: 0;
        overflow: hidden;
    }

    .ant-menu-inline {
        background: rgb(211,211,211, 0.8);
        opacity: 1;
    }

    .ant-menu .anticon {
        font-size: 1.3rem;
        margin-right: 0.8rem;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: transparent;
    }

    .ant-btn:active .ant-btn-dashed{
        color: inherit;
        background-color: #fff;
    }

    .ant-btn-dashed:hover {
        color: inherit;
        background-color: inherit;
    }
    
    .ant-menu-item-group-title {
        padding-bottom: 0;
        font-size: 1.2rem;
    }
} 
