.flip-enter {
  transform: rotateY(90deg);
}

.flip-enter-active {
  transform: rotateY(0);
  transition: transform 500ms ease-out;
}

.flip-leave {
  transform: rotateY(0);
}

.flip-leave-active {
  transform: rotateY(90deg);
  transition: transform 500ms ease-out;
}

.ant-card {
  width: 50%;
  display: flex;
  margin: auto;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  transform: translateZ(100px);
}

.ant-card-meta-title {
  font-size: 3.5rem;
  text-align: center;
}

.ant-card-meta-detail {
  padding: 0 4rem;
}

.ant-card-meta-description {
  font-size: 1.3rem;
}

.anticon {
  font-size: 5rem;
}

@keyframes rotateIn {
  from {transform: rotateY(90deg);}
  to{transform: rotateY(0);}
}