
.ant-card {
  width: 50%;
  display: flex;
  padding-top: 5.5rem;
  margin: auto;
  cursor: default;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
}

.ant-card-body a:hover {
  text-decoration: underline;
}

.ant-card-meta-title {
  font-size: 3.5rem;
  text-align: center;
}

.ant-card-meta-detail {
  padding: 0 4rem;
}

.ant-card-meta-description {
  font-size: 1.3rem;
}

.anticon {
  font-size: 5rem;
}

.ant-btn {
  padding: 0.3rem;
}

.ant-btn .anticon {
  font-size: 2.5rem;
}

@media only screen and (max-width: 785px) {
  .ant-card {
    width: 100%;
    padding: 0;
  }

  .ant-card-meta-detail {
    padding: 0;
  }

  .ant-card-meta-title {
    font-size: 2.5rem;
  }

  .anticon {
    font-size: 3.5rem;
  }
}